*{
    margin: 0;
    padding: 0;
}
.Create_prfile{
    height: 65px;
    width: 650px;
}
.Show_profile{
    height: 65px;
    width: 650px;
}
.Show_buses{
    height: 65px;
    width: 650px;
}
div{
    height: 100px;
    margin-top: 4%;
} 
h1{
    margin-top: 50px;
    text-align: center;
    align-items: center;
    border: solid;
    border-radius:40px;
    width: 800px;
    height: 50px;
    padding-top: 8px;
    margin-left: 18%;
    background-color: 12FFF1;
    color: rgba(0, 0, 0, 0.697);
    border-color: rgba(0, 0, 0, 0.697);
}
/* h1:hover{
    background-color: rgba(128, 128, 128, 0.684);
    color: white;
    border-color: white;
} */
section{
    text-align: center;
    margin-top: 5.5%;
}
button{
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0.514);
    color: whitesmoke;
}
button:hover{
    font-size: large;
    background-color: rgba(39, 39, 41, 0.536);
    color: black;
}
body{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}